logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies / builds
node_modules/
dist/
dist-ssr/
.vite/

# editors & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# env
.env

# Windows special-case
NUL